
.wz-app-5{
    
    background: #000;
        
}

.wz-app-5 .wz-win-minimize{
    margin-right: 23px;
}

.wz-app-5 .weemusic-bar{

    height: 5px;
    border-radius: 1px;
        
}

.wz-app-5 .weemusic-controls{

    width: 215px;
    height: 37px;
    float: left;
    margin-left: 8px;
    padding-top: 12px;
    
    background: url('https://static.weezeel.com/app/5/light.png') 41px -1px no-repeat;
    background-size: 128px 51px;

}

.wz-app-5 .weemusic-controls-forward{
   
    width: 24px; 
    height: 15px;
    float: left;
    margin: 7px 35px 6px 34px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -77px 0;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-controls-play{
    
    width: 26px;
    height: 29px;
    float: left;
    margin-left: 1px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat 0 0;
    background-size: 118px 53px;
    
}

.wz-app-5.play .weemusic-controls-play{
    background-position: -27px 0;
}

.wz-app-5 .weemusic-controls-rewind{
    
    width: 24px;
    height: 15px;
    float: left;
    margin: 7px 34px 6px 35px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -53px 0;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info{

    width: 100%;
    height: 414px;
    float: left;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,
        rgb(14,14,15) 0%,
        rgb(35,35,36) 34%,
        rgb(35,35,36) 75%,
        rgb(26,26,27) 85%,
        rgb(18,18,19) 90%,
        rgb(14,14,15) 100%
    ); 
    background-image: -webkit-linear-gradient(-90deg,
        rgb(14,14,15) 0%,
        rgb(35,35,36) 34%,
        rgb(35,35,36) 75%,
        rgb(26,26,27) 85%,
        rgb(18,18,19) 90%,
        rgb(14,14,15) 100%
    );
    background-image: -o-linear-gradient(-90deg,
        rgb(14,14,15) 0%,
        rgb(35,35,36) 34%,
        rgb(35,35,36) 75%,
        rgb(26,26,27) 85%,
        rgb(18,18,19) 90%,
        rgb(14,14,15) 100%
    );
    background-image: linear-gradient(0deg,
        rgb(14,14,15) 0%,
        rgb(18,18,19) 10%,
        rgb(26,26,27) 15%,
        rgb(35,35,36) 25%,
        rgb(35,35,36) 66%,
        rgb(14,14,15) 100%        
    );

}

.wz-app-5 .weemusic-info-album{
    
    height: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 7px;
    
}

.wz-app-5 .weemusic-info-album i{
    
    width: 9px;
    height: 9px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -102px -24px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info-album span{
    
    font-size: 12px;
    color: #5d5d5d;
    margin-left: 5px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.wz-app-5 .weemusic-info-artist{
    
    height: 14px;
    line-height: 14px;
    margin-top: 7px;
    text-align: center;
    
}

.wz-app-5 .weemusic-info-artist i{
    
    width: 11px;
    height: 11px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -102px -13px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info-artist span{
    
    font-size: 14px;
    color: #cfcfcf;
    margin-left: 10px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.wz-app-5 .weemusic-info-backprogress{

    width: 370px;
    float: left;
    margin-top:4px;
    opacity: 0;
    
    background-color: rgba(217,217,217,0.2);

}

.wz-app-5 .weemusic-info-buffer{
    
    width: 235px;
    background-color: rgba(217,217,217,0.3);    

}

.wz-app-5 .weemusic-info-cover{
    
    width: 244px;
    height: 244px;
    float: left;
    margin-top: 15px;
    margin-left: 148px;
    
}

.wz-app-5 .weemusic-info-data{

    font-size: 13px;
    color: #FFF;
    
    width: 53px;
    height: 13px;
    float: left;
    margin: 0 11px;
    opacity:0;

}

.wz-app-5 .weemusic-info-data.currentTime{
    text-align: right;
}

.wz-app-5 .weemusic-info-options{
    
    width: 19px;
    float: left;
    margin-left: 27px;
    padding-top: 181px;
    
}

.wz-app-5 .weemusic-info-progress{
    
    width: 0px;
    position: relative;
    top: -5px;

    background-color: #FFF;

}

.wz-app-5 .weemusic-info-random{
    
    width: 19px;
    height: 18px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/5/toggle.png') no-repeat 0 0;
    background-size: 37px 23px;
    
}

.wz-app-5 .weemusic-info-random.active{
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -62px -30px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info-repeat{
    
    width: 18px;
    height: 23px;
    margin-top: 20px;
    margin-left: -1px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -81px -31px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info-repeat.active{
    
    background: url('https://static.weezeel.com/app/5/toggle.png') no-repeat -19px 0;
    background-size: 37px 23px;
    
}

.wz-app-5 .weemusic-info-seeker{

    width: 17px;
    height: 21px;
    position: relative;
    top: -18px;
    left: -9px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat 0 -29px;
    background-size: 118px 53px;

}

.wz-app-5 .weemusic-info-shadow{
    
    width: 244px;
    height: 57px;
    float: left;
    margin-left: 148px;
    margin-right: 132px;

    background: url('https://static.weezeel.com/app/5/shadow.png') no-repeat;
    background-size: 244px 57px;
    
}

.wz-app-5 .weemusic-info-title{
    
    height: 14px;
    line-height: 14px;
    margin-top: 19px;
    text-align: center;    
    
}

.wz-app-5 .weemusic-info-title i{
    
    width: 9px;
    height: 14px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -93px -15px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-info-title span{
    
    font-size: 14px;
    color: #cfcfcf;
    margin-left: 10px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.wz-app-5 .weemusic-list{
    
    width: 501px;
    height: 262px;
    float: left;
    padding-left: 23px;
    
    background: #0e0e0f;    
    
}

.wz-app-5 .weemusic-list-artist{
    
    font-size: 14px;
    color: #575757;
    
    float: left;    
    margin-top: 10px;    
    margin-left: 14px;
    
}

.wz-app-5 .weemusic-list-cover{
    
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 15 px;
    
    background: url('https://static.weezeel.com/app/5/default_mini.png') no-repeat;
    background-size: 30px 30px;
    
}

.wz-app-5 .weemusic-list-number{

    color: #cfcfcf;
    
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 10px;
    
}

.wz-app-5 .weemusic-list-song{
    
    width: 100%;
    height: 40px;
    
}

.wz-app-5 .weemusic-list-title{
    
    font-size: 14px;
    color: #cfcfcf;
    
    float: left;        
    margin-top: 10px;    
    margin-left: 14px;
    
}

.wz-app-5 .weemusic-playlist{
    
    width: 100%;
    height: 30px;
    float: left;
    border-top: 1px solid #383838;
    padding-top: 17px;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(32,32,32) 0%,rgb(16,16,16) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(32,32,32)),color-stop(1, rgb(16,16,16)));
    background-image: -webkit-linear-gradient(-90deg,rgb(32,32,32) 0%,rgb(16,16,16) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(32,32,32) 0%,rgb(16,16,16) 100%);
    background-image: linear-gradient(0deg,rgb(16,16,16) 0%,rgb(32,32,32) 100%);
    
}

.wz-app-5 .weemusic-playlist-display{
    
    width: 7px;
    height: 5px;
    float: left;
    margin-top: 3px;
    margin-left: 8px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -99px -33px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-playlist-find{
    
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 18px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -65px -15px;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-playlist-icon{
    
    width: 17px;
    height: 13px;
    float: left;
    margin-left: 19px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -101px 0;
    background-size: 118px 53px;
    
}

.wz-app-5 .weemusic-playlist-text{
    
    font-size: 14px;
    color: #d1d1d1;
    
    float: left;
    margin-left: 14px;
    
}

.wz-app-5 .weemusic-playlist-title{
    
    font-size: 14px;
    color: #d18a0e;
    
    float: left;
    margin-left: 6px;
    
}  

.wz-app-5 .weemusic-volume-current{
    
    width: 0px;
    
    background-color: #d9d9d9;
    
}

.wz-app-5 .weemusic-volume-icon{
    
    width: 21px;
    height: 15px;
    float: left;
    margin-top: 2px;
    margin-left: 3px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') no-repeat -41px -31px;
    background-size: 118px 53px;
    
}

.wz-app-5.muted .weemusic-volume-icon{

    width: 24px;
    height: 21px;
    margin: 0px;
    background-position: -17px -31px;
}

.wz-app-5 .weemusic-volume-max{
    
    width: 74px;
    float: left;
    margin-top: 6px;
    margin-left: 9px;
    
    background-color: rgba(217,217,217,0.2);
    
}

.wz-app-5 .weemusic-volume-seeker{

    width: 13px;
    height: 16px;
    position: relative;
    top: -11px;
    left: -6px;
    
    background: url('https://static.weezeel.com/app/5/sprite.png') -80px -15px;
    background-size: 118px 53px;

}