
.wz-view{
    background: url('@static/cover.jpg') no-repeat;
    background-size: cover;
}

.wz-view-menu{
    box-shadow: inset 0 1px rgba( 255, 255, 255, 0.1 );
    background-color: transparent;
    background-image: -webkit-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: -moz-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: -o-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: linear-gradient( to top, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.wz-view-menu-group{
    padding-top: 15px;
    padding-bottom: 10px;
    border: none !important;
    box-shadow: none !important;
}

.wz-view-menu-group.right{
    padding-left: 54px;
    padding-right: 11px;
}

.weemusic-seeker{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.5 );
    background-image: -webkit-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: -moz-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: -o-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: linear-gradient( to top, #D1D1D1, #FFFFFF );
    position: absolute;
    top: -2px;
}

.weemusic-volume{
    width: 96px;
    height: 30px;
    padding: 13px 11px 6px;
}

.weemusic-volume-icon{
    padding: 6px 3px;
}

.weemusic-volume-icon i{
    width: 19px;
    height: 15px;
    float: left;
    background: url('@static/sprite.png') -50px -16px no-repeat;
    background-size: 102px 31px;
}

.wz-view.muted .weemusic-volume-icon i{
    background-position: -69px -16px;
}

.weemusic-volume-max{
    width: 60px;
    height: 6px;
    float: left;
    margin-left: 3px;
    margin-top: 11px;
    background: #FFF;
    position: relative;
}

.weemusic-volume-current{
    width: 0;
    height: 6px;
    float: left;
    background: #FDB53F;
}

.weemusic-title{
    width: 164px;
    height: 49px;
    float: left;
}

.weemusic-name{
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: 15px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    float: left;
    margin-top: 8px;
}

.weemusic-artist{
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: 15px;
    color: rgba( 255, 255, 255, 0.5 );
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    float: left;
    margin-top: 6px;
}

.weemusic-bottom{
    width: 100%;
    height: 55px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.weemusic-backprogress{
    width: 100%;
    height: 6px;
    float: left;
    background: #FFF;
    position: relative;
}

.weemusic-buffer{
    width: 0;
    height: 6px;
    background: rgba( 253, 181, 63, 0.5 );
    position: absolute;
    top: 0;
    left: 0;
}

.weemusic-progress{
    width: 0;
    height: 6px;
    background: #FDB53F;
    position: absolute;
    top: 0;
    left: 0;
}

.weemusic-info{
    width: 100%;
    height: 49px;
    float: left;
    text-align: center;
    background-image: -webkit-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: -moz-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: -o-linear-gradient( bottom, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
    background-image: linear-gradient( to top, rgba( 36, 36, 36, 0.9 ), rgba( 51, 51, 51, 0.9 ) );
}

.weemusic-info-data{
    font-size: 14px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.3 );
    float: left;
    margin: 17px 13px 17px 20px;
}

.weemusic-info-data.right{
    float: right;
    margin: 17px 20px 17px 13px;
}

.weemusic-controls{
    width: 129px;
    height: 45px;
    display: inline-block;
    margin-left: 26px;
    padding-top: 4px;
}

.weemusic-controls-forward{
    margin-left: 6px;
    margin-top: 7px;
    padding: 6px 5px 4px 6px;
}

.weemusic-controls-forward i{
    width: 26px;
    height: 16px;
    float: left;
    background: url('@static/sprite.png') -76px 0 no-repeat;
    background-size: 102px 31px;
    opacity: 0.5;
}

.weemusic-controls-forward:hover i{
    opacity: 1;
}

.weemusic-controls-play{
    height: 30px;
    margin-left: 6px;
    padding-bottom: 4px;
    padding: 6px 6px 3px;
}

.weemusic-controls-play i{
    width: 25px;
    height: 28px;
    float: left;
    background: url('@static/sprite.png') 0 0 no-repeat;
    background-size: 102px 31px;
}

.wz-view.play .weemusic-controls-play i{
    background-position: -25px 0;
}

.weemusic-controls-rewind{
    margin-top: 7px;
    padding: 6px 6px 4px 5px;
}

.weemusic-controls-rewind i{
    width: 26px;
    height: 16px;
    float: left;
    background: url('@static/sprite.png') -50px 0 no-repeat;
    background-size: 102px 31px;
    opacity: 0.5;
}

.weemusic-controls-rewind:hover i{
    opacity: 1;
}

.weemusic-controls-repeat{
    float: right;
    margin-top: 10px;
    padding: 5px 6px;
}

.weemusic-controls-repeat i{
    width: 12px;
    height: 15px;
    float: left;
    background: url('@static/sprite.png') -88px -16px no-repeat;
    background-size: 102px 31px;
    opacity: 0.5;
}

.weemusic-controls-repeat:hover i,
.wz-view.repeat .weemusic-controls-repeat i{
    opacity: 1;
}
